#canvasId {
    border: 1px solid red;
}

.canvasWrapper {
    position: relative;
    width: 600px;
    height: 600px;
    z-index: 2;
}

.customPointer {
    z-index: -1;
    top: 10px;
    left: 0;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid rgb(255, 0, 0);
}


.scale {
    display: flex;
    border-radius: 5ex;
    background: lightgray;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.scale__subtitle {
    margin-right: 10px;
}

.scale__value,
.scale__subtitle {
    font-size: 30px;
}

.config {
    display: none;
}